.alert h3 { margin-top: 3px; }
.alert div { margin-top: 2.0em; text-align:center; }

@media (min-width: 768px) {
	.alert { margin-top: 4.0em; margin-bottom: 4.0em; }
}
@media (min-width: 970px) {
	.alert { margin-top: 8.0em; margin-bottom: 8.0em; }
}
@media (min-width: 1170px) {
	.alert { margin-top: 12.0em; margin-bottom: 16.0em; }
}

