@{
    Layout = "~/Views/Shared/_LayoutWithoutMap.cshtml";
}

@{
    ViewBag.Title = "Forgot password";
}

<div class="jumbotron">
    <h1 id="Name">Check you email</h1>
    <p class="lead">
        You have a new email from Take A Seat that will help you reset the password.
    </p>
</div>


