@{
    Layout = "~/Views/Shared/_LayoutWithoutMap.cshtml";
}

@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="jumbotron">
    <h1 id="Name">Password changed</h1>
    <p class="lead">
        Your password has been changed. You can now login.
    </p>
</div>

<div style="width: 200px;" class="center-block">
    @Html.ActionLink("Click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-block" })
</div>
@Html.Raw(ViewBag.AppMessage)