@{
    Layout = "~/Views/Shared/_LayoutWithoutMap.cshtml";
}

@{
    ViewBag.Title = "SendEmail";
}
<div class="jumbotron">
    <h1 id="Name">Check you email</h1>
    <p class="lead">
        The email has been sent. Please check your email address.
    </p>
</div>

