@{
    Layout = "~/Views/Shared/_LayoutWithoutMap.cshtml";
}

@{
    ViewBag.Title = "Send Code";
}
<div class="jumbotron">
    <h1 id="Name">Code sent</h1>
    <p class="lead">
        An email has been sent to you in order to confirm the email.
    </p>
</div>