<p>Thank you for using TakeASeat!</p>
<p>You are now a manager.</p>
<p>@Html.ActionLink("See Your Restaurant", "Index", "Restaurants", null, null)</p>
<p>@Html.ActionLink("See reservations", "Index", "Reservation", null, null)</p>
